$background-colour: #bb81cd;
$title-colour: #9b3294;
$dark-font-colour: #711a5e;

$text-colour: #fff;
$highlight-colour: #e2a6fb;
$lightest-colour: #eccef5;
$dark-colour: #581c36;
$darkest-colour: #370515;

$correct-colour: #51693d;
$wrong-spot-colour: #f0f0d3;
$incorrect-colour: #bab1ca;
$blank-colour: #d3dee8;

$key-colour: #853e71;
$key-hover: #59254b;
$key-click: #38162f;
